# System files
AppData/
.idea/
.vscode/
*.iml

# Build outputs
target/
bin/
build/
out/

# Dependency caches
.m2/
.gradle/

# Logs and temp files
*.log
*.tmp
*.swp
*.bak

# IDE specific
.ssh/
.gnupg/
.jdks/
.viminfo
.bash_history
.gitconfig
